[Desktop Entry]
Name=Viewer
Exec=/home/Tepz/Scripts/Viewer/Viewer.py
Icon=/home/Tepz/.local/share/icons/viewer.jpg
Type=Application
Categories=Utility; 